.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.vertical-center .metric {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}