---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: m3-user
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: m3-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: m3-user
  namespace: default
---
apiVersion: v1
kind: Service
metadata:
  name: m3
  labels:
    name: m3
spec:
  ports:
    - port: 50051
      name: public-grpc
    - port: 50052
      name: private-grpc
  selector:
    app: m3
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: m3-env
data:
  ADMIN_NAME: <ADMIN_NAME>
  ADMIN_EMAIL: <ADMIN_EMAIL>
  DB_HOSTNAME: "postgres.m3"
  MAIL_ACCOUNT: <MAIL_ACCOUNT>
  MAIL_SERVER: <MAIL_SERVER>
  MAIL_PASSWORD: <MAIL_PASSWORD>
  APP_URL: <APP_URL>
  S3_DOMAIN: <S3_DOMAIN>
  SETUP_USE_GLOBAL_BUCKETS: "true"
  # Uncomment these to enable IDP for Admin Login
  #IDENTITY_PROVIDER_URL: ""
  #IDENTITY_PROVIDER_CLIENT_ID: ""
  #IDENTITY_PROVIDER_SECRET: ""
  #IDENTITY_PROVIDER_CALLBACK: ""
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: m3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: m3
  template:
    metadata:
      labels:
        app: m3
    spec:
      serviceAccountName: m3-user
      containers:
        - name: m3
          image: minio/m3:edge
          imagePullPolicy: "IfNotPresent"
          args:
            - /m3
            - service
          envFrom:
              - configMapRef:
                  name: m3-env
          ports:
            - containerPort: 50051
              name: public-grpc
            - containerPort: 50052
              name: private-grpc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: m3-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: m3-scheduler
  template:
    metadata:
      labels:
        app: m3-scheduler
    spec:
      serviceAccountName: m3-user
      containers:
        - name: m3
          image: minio/m3:edge
          imagePullPolicy: "IfNotPresent"
          args:
            - /m3
            - scheduler
          envFrom:
            - configMapRef:
                name: m3-env
