---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: m3-user
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: m3-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: m3-user
  namespace: default
---
apiVersion: v1
kind: Service
metadata:
  name: m3
  labels:
    name: m3
spec:
  ports:
    - port: 50051
      name: public-grpc
    - port: 50052
      name: private-grpc
  selector:
    app: m3
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: m3-env
data:
  ADMIN_NAME: <ADMIN_NAME>
  ADMIN_EMAIL: <ADMIN_EMAIL>
  DB_HOSTNAME: "postgres.m3"
  MAIL_ACCOUNT: <MAIL_ACCOUNT>
  MAIL_SERVER: <MAIL_SERVER>
  MAIL_PASSWORD: <MAIL_PASSWORD>
  APP_URL: <APP_URL>
  S3_DOMAIN: <S3_DOMAIN>
  SETUP_USE_GLOBAL_BUCKETS: "true"
  M3_IMAGE: "minio/m3:edge"
  # Other configs
  # Maximum number of tenants per storage group. 16 is the sweetest number.
  # MAX_NUM_TENANTS_PER_SG: "16"
  # Uncomment these to enable IDP for Admin Login
  #IDENTITY_PROVIDER_URL: ""
  #IDENTITY_PROVIDER_CLIENT_ID: ""
  #IDENTITY_PROVIDER_SECRET: ""
  #IDENTITY_PROVIDER_CALLBACK: ""
  # Uncomment these to enable tenant data encryption using an external KMS
  #KMS_ADDRESS: ""
  #KMS_TOKEN: ""
  # Uncomment these to allow KES to use self-signed client certificates
  #KES_M_TLS_AUTH: "ignore"
  #KES_CONFIG_FILE_PATH: "kes-config/server-config.toml"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: m3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: m3
  template:
    metadata:
      labels:
        app: m3
    spec:
      serviceAccountName: m3-user
      containers:
        - name: m3
          image: minio/m3:edge
          imagePullPolicy: "IfNotPresent"
          args:
            - /m3
            - service
          envFrom:
              - configMapRef:
                  name: m3-env
          ports:
            - containerPort: 50051
              name: public-grpc
            - containerPort: 50052
              name: private-grpc
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yaml: |-
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: minio-metrics
        metrics_path: /minio/prometheus/metrics
        scheme: http
        kubernetes_sd_configs:
        - role: pod
          namespaces:
            names:
            - default
        relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_sg]
          separator: ;
          regex: (storage-group.*)
          replacement: $1
          action: keep
        - source_labels: [__meta_kubernetes_pod_label_app]
          separator: ;
          regex: (sg-.*)
          replacement: $1
          action: keep
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: m3-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: m3-scheduler
  template:
    metadata:
      labels:
        app: m3-scheduler
    spec:
      serviceAccountName: m3-user
      containers:
        - name: m3
          image: minio/m3:edge
          imagePullPolicy: "IfNotPresent"
          args:
            - /m3
            - scheduler
          envFrom:
            - configMapRef:
                name: m3-env
                